*,
*::before,
*::after {
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  list-style-type: none;
  font-weight: 400;
}
h2 {
  text-transform: capitalize;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------------other settings-------------------- */
.container {
  max-width: 318px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.div-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  display: block;
  color: #4d5ae5;
  padding: 16px 0;
  margin-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.name-logo {
  color: #2e2f42;
}
/* -----------------------logo end-------------------- */
/* -----------------------Menu-------------------- */
.menu-text {
  display: none;
}

.adress-item {
  display: none;
}

.footer-menu-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 16px 0;
}

.footer-menu-icon {
  display: block;
  fill: #2f2f37;
}
/* -----------------------MODAL MOBILE MENU-------------------- */
.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu.is-open {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.container-menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 72px;
  height: 100%;
}
.close-button-menu {
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-mobile {
  margin-bottom: auto;
}
.menu-links-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-mobile-link {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-addres-mobile {
  margin-bottom: 48px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contacts-mobile-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-mobile-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.menu-modal-link {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 40px;
}
/* -----------------------Menu end-------------------- */
/* -----------------------SECTION 1-------------------- */
.head-text {
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mobile-min.jpg);
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .head-text {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-mobile@2x-min.jpg);
  }
}
.section-first {
  padding-top: 72px;
  padding-bottom: 72px;
}

.main-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-item {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  border: none;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover {
  background-color: #404bbf;
}

/* -----------------------SECTION 2-------------------- */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.feat-block {
  gap: 72px;
  display: flex;
  flex-direction: column;
}
.feat-img-contain {
  display: none;
}
.title-name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.name-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------------------SECTION 3-------------------- */
.image-person-list {
  background-color: #f4f4fd;
}

.main-menu-text {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.image-item {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.img-selection {
  margin-left: auto;
  margin-right: auto;
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0px;
}

.name-person-image {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.profession-list {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-items-list {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  display: flex;
  gap: 24px;
}

.team-social-link {
  cursor: pointer;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
.team-social-link:hover {
  background-color: #404bbf;
}

/* -----------------------SECTION 4-------------------- */
.portf-block {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  gap: 48px;
}
.overlay-text {
  display: none;
}
.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  max-width: 360px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-names {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-name-list {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* -----------------------SECTION 4 end-----------------------*/
/* -----------------------FOOTER-----------------------*/
.end-site {
  background-color: #2e2f42;
  padding: 96px 0px;
}
.footer-items {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.logo-dawn {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-dawn-item {
  color: #f4f4fd;
}

.text-end {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social-items {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-items-list {
  justify-content: center;
  display: flex;
  gap: 16px;
}
.icon-footer {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
.footer-text-subscribe {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-subscribe-input {
  background-color: transparent;
  outline: none;
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-subscribe-input::placeholder {
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-footer {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  align-items: center;
  color: #ffffff;
}

.button-footer:hover {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
/* -----------------------FOOTER END-----------------------*/
/* -----------------------modal window-----------------------*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.main-form {
  display: block;
}
.madal-name-box {
  margin-bottom: 8px;
}
.review-form-input {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.div-wrapper {
  position: relative;
}
.review-form-input-input {
  background-color: transparent;
  outline: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 38px;
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.review-form-input-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.modal-icons {
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  position: absolute;
  fill: #2e2f42;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-phone-box {
}

.modal-email-box {
}

.modal-textarea-box {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-input-area {
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  margin-top: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  display: flex;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-area:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}
.review-form-input-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-rules-box {
  margin-bottom: 24px;
}

.review-form-input-checkbox:checked + .review-form-checkbox > .checkbox-item {
  cursor: pointer;
  background-color: #404bbf;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: none;
  fill: #f4f4fd;
}

.checkbox-item {
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-rules-link {
  text-decoration: underline;
}
.accent-color {
  color: #4d5ae5;
}

.modal-submit-form {
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 56px;
  min-width: 169px;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-form:hover,
.modal-submit-form:focus {
  background-color: #404bbf;
}

.review-form-checkbox {
  display: inline-block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
/* -----------------------modal window end-----------------------*/
/* -----------------------tablet-------------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .top-name {
    display: flex;
    align-items: center;
  }
  /* -----------------------logo end tablet-------------------- */
  /* -----------------------Menu table----------------------- */
  .menu-text {
    margin: 0;
    align-items: center;
    display: flex;
    gap: 40px;
    color: #2e2f42;
  }
  .menu-text-first {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    position: relative;
    padding: 24px 0;
  }

  .studio-item::after {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;

    margin-right: auto;
    position: absolute;
    display: block;
    background-color: #404bbf;
    content: "";
    border-radius: 2px;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
  }
  .studio-item {
    color: #404bbf;
  }

  .menu-text a:hover,
  .menu-text a:focus {
    color: #404bbf;
  }

  .adress-item {
    display: flex;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }

  .menu-text-addres {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .contacts {
    color: #434455;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts:hover {
    color: #404bbf;
  }
  .contacts:focus {
    color: #404bbf;
  }
  .footer-menu-btn {
    display: none;
  }
  /* -----------------------Address table end-----------------------*/
  /* -----------------------SECTION 1 tablet-------------------- */
  .head-text {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-teblet-min.jpg);
  }
  @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .head-text {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tablet@2x-min.jpg);
    }
  }
  .section-first {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .main-text {
    max-width: 496px;
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
  }
  /* -----------------------SECTION 2 tablet-----------------------*/
  .feat-block {
    gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .title-name {
    text-align: left;
  }
  /* ----------------------SECTION 3 tablet-----------------------*/
  .image-item {
    margin-left: auto;
    margin-top: auto;
    gap: 24px;
    row-gap: 62px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .img-selection {
    width: calc((100% - 24px) / 2);
  }

  .image-person-list {
    padding: 96px 93px;
  }
  /* -----------------------SECTION 4 tablet-----------------------*/
  .portf-block {
    gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  /* -----------------------SECTION FOOTER tablet-----------------------*/
  .end-site {
    padding: 96px 93px;
  }
  .text-end {
    width: 264px;
  }
  .footer-items {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-social-items {
    text-align: left;
  }
  .logo-dawn {
    justify-content: flex-start;
  }
  .footer-text-subscribe {
    text-align: left;
  }
  .form-subscribe {
    flex-direction: column;
  }
  .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  /* -----------------------modal window-----------------------*/
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    overflow: auto;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* -----------------------modal window end-----------------------*/
}
/* -----------------------laptop-------------------- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .div-top {
    justify-content: flex-start;
  }
  .logo {
    padding: 24px 0;
    margin-right: 76px;
  }
  /* -----------------------logo end laptop-------------------- */
  /* -----------------------Menu laptop----------------------- */
  .menu-text a:hover,
  .menu-text a:focus {
    color: #404bbf;
  }
  /* -----------------------Menu laptop end-----------------------*/

  /* -----------------------Adress laptop-----------------------*/
  .adress-item {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
  .menu-text-addres {
    gap: 40px;
    flex-direction: row;
  }
  .contacts {
    padding: 24px 0;
  }
  /* -----------------------Adress laptop end-----------------------*/
  /* -----------------------SECTION 1 laptop-------------------- */
  .head-text {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/portfolio/people-office.jpg);
  }
  @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .head-text {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/portfolio/people-office@2x.jpg);
    }
  }
  .section-first {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-text {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 107%;
  }

  .button-item:hover {
    background-color: #404bbf;
  }
  .button-item:focus {
    background-color: #404bbf;
  }
  /* -----------------------SECTION 2 laptop----------------------- */
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .feat-block {
    row-gap: 0;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .feat-img-contain {
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
  }

  .title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .name-item {
    max-width: 264px;
  }

  /* -----------------------SECTION 3 laptop-----------------------*/
  .image-person-list {
    padding: 120px 0;
  }
  .image-item {
    row-gap: 0;
    gap: 24px;
  }

  .img-selection {
    width: calc((100%-72px) / 4);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
  /* -----------------------SECTION 4 laptop-----------------------*/
  .portf-block {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .overlay-text {
    transform: translateY(0%);
  }

  .img-portfolio {
    overflow: hidden;
    position: relative;
  }

  .overlay-text {
    display: block;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
  }
  /* -----------------------SECTION FOOTER laptop-----------------------*/
  .end-site {
    padding: 100px 0px;
  }
  .footer-items {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }

  .footer-text-div {
    margin-right: 120px;
  }

  .footer-link:hover,
  .footer-link:focus {
    background-color: #31d0aa;
  }

  .text-end {
    max-width: 264px;
  }

  .footer-social-div {
    margin-right: 80px;
  }

  .button-footer:hover,
  .button-footer:focus {
    background-color: #404bbf;
  }
}
