
body {
font-family:"Roboto" , sans-serif;
color:#434455;
background-color:#FFFFFF;
list-style-type: none;
font-weight: 400
}
h2{text-transform: capitalize}

li {list-style-type: none;}

a {text-decoration: none;}

/* site header */
.top {
}

.top-name{
}

.logo {
font-family: "Raleway", sans-serif;
color: #4d5ae5;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.name{
color: #2e2f42;
}
/* site header end */

/* site menu */
.menu-text{
color:#2E2F42;
}

.menu-text a {
color: #2E2F42;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
}

.menu-text a:hover {
color: #404BBF;
}

.menu-text a:focus {
color: #404BBF;
}
/* site menu end*/

/* site adress*/
.adress-item {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
font-style: normal;
}

.adress-item a:hover {
color: #404BBF;
}
.adress-item a:focus {
color: #404BBF;
}
.contacts{color: #434455;}
/* site adress end*/

/* hero content */
.head-text{
background-color:#2e2f42;
color:#FFFFFF;
text-align: center;
}

.main-text {
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
 text-align: center;
}

.button-item {
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color:#FFFFFF;
background-color:#4D5AE5;
}

.button-item:hover{
background-color: #404BBF
}
.button-item:focus{
background-color: #404BBF
}

/* hero content end */

/* Features */
.features-list {}

.main-menu-text {
text-transform: capitalize
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42       
}

.title-name {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2E2F42;
}

.name-item {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
}
/* Features end*/

/* Our Team*/
.img-selection{background-color: #FFFFFF}

.image-item {
}

.image-person-list {
background-color: #F4F4FD
}

.name-person-image {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42;
}

.profession-list {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
}
/* Our Team end*/

/* Our Portfolio*/
.portfolio-list {
}

.portfolio-name {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-name-list {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
}
/* Our Portfolio end*/

/* footer*/
.end-site{ 
background-color:#2E2F42;
}

.text-end {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #F4F4FD;
}

.logo-dawn-item {
color: #f4f4fd;
}
.logo-dawn {
font-family: "Raleway", sans-serif;
color: #4d5ae5;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
}
/* footer end*/
