/* -----------------------other settings-------------------- */
*,
*::before,
*::after {
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  list-style-type: none;
  font-weight: 400;
}
h2 {
  text-transform: capitalize;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* -----------------------other settings-------------------- */

/* -----------------------site header----------------------- */
.logo {
  padding: 24px 0;
  margin-right: 76px;
}

.top {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.div-top {
  align-items: center;
  display: flex;
}

.top-name {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.name {
  color: #2e2f42;
}

/* -----------------------site menu----------------------- */
.menu-text {
  margin: 0;
  align-items: center;
  display: flex;
  gap: 40px;
  color: #2e2f42;
}

.menu-text-first {
  position: relative;
  padding: 24px 0;
}

.studio-item::after {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: block;
  background-color: #404bbf;
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  left: 0;
  bottom: -1px;
}

.menu-text-first {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.studio-item {
  color: #404bbf;
}

.menu-text a:hover,
.menu-text a:focus {
  color: #404bbf;
}

.menu-text-addres {
  gap: 40px;
  display: flex;
}

/* -----------------------site menu end-----------------------*/

/* -----------------------site adress-----------------------*/
.adress-item {
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
}

.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}
.contacts {
  padding: 24px 0;
  color: #434455;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------------------site adress end-----------------------*/
/*----------------------- site header end----------------------- */

/* -----------------------hero content ----------------------- */
.first-main {
}

.head-text {
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  color: #ffffff;
  text-align: center;
}

.first-main {
}

.main-text {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-item {
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 56px;
  min-width: 169px;
  display: block;
  margin-bottom: 68px;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover {
  background-color: #404bbf;
}
.button-item:focus {
  background-color: #404bbf;
}

/* -----------------------hero content end----------------------- */

/* -----------------------Features----------------------- */
.features-list {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list-cont {
}

.feat-block {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100%-72px) / 4);
}

.feat-img-contain {
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
}

.feat-img {
}

.main-menu-text {
  margin-bottom: 72px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.title-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.name-item {
  max-width: 264px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* -----------------------Features end-----------------------*/

/* -----------------------Our Team-----------------------*/
.img-selection {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.person-list-block {
}

.image-item {
  display: flex;
  gap: 24px;
}

.team-container {
  max-width: 264px;
  padding: 32px 0px;
}

.image-person-list {
  background-color: #f4f4fd;
}

.name-person-image {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.profession-list {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-items-list {
  justify-content: center;
  margin-top: 8px;
  display: flex;
  gap: 24px;
}

.team-social-item {
}

.team-social-link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -----------------------Our Team end-----------------------*/

/* -----------------------Our Portfolio-----------------------*/
.portfolio-list {
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.img-portfolio {
  overflow: hidden;
  position: relative;
}

.portf-block {
  row-gap: 48px;
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
}

.overlay-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  max-width: 360px;
}

.portfolio-names {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-name-list {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* -----------------------Our Portfolio end-----------------------*/

/* -----------------------footer-----------------------*/
.end-site {
  background-color: #2e2f42;
  padding: 100px 0px;
}
.footer-items {
  display: flex;
  align-items: baseline;
}

.footer-text-div {
  margin-right: 120px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.text-end {
  max-width: 264px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-div {
  margin-right: 80px;
}

.footer-items-list {
  display: flex;
  gap: 16px;
}

.footer-social-items {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.logo-dawn-item {
  color: #f4f4fd;
}
.logo-dawn {
  margin-bottom: 16px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon-footer {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-subscribe-div {
}

.footer-text-subscribe {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-size: inherit;
  margin-bottom: 16px;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  background-color: transparent;
  outline: none;
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 8px 212px 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-input:placeholder-shown {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-footer {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  align-items: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover,
.button-footer:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-box-subscribe {
}

/* -----------------------footer end-----------------------*/

/* -----------------------modal window-----------------------*/
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 0;
  pointer-events: auto;
}

.modal {
  position: relative;
  padding: 72px 24px 24px 24px;
  overflow: auto;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.main-form {
  display: block;
}
.madal-name-box {
  margin-bottom: 8px;
}
.review-form-input {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.div-wrapper {
  position: relative;
}
.review-form-input-input {
  background-color: transparent;
  outline: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 38px;
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.review-form-input-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.modal-icons {
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  position: absolute;
  fill: #2e2f42;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-phone-box {
}

.modal-email-box {
}

.modal-textarea-box {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-area {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-input-area {
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  margin-top: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  display: flex;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-area:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}
.review-form-input-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-rules-box {
  margin-bottom: 24px;
}
.review-form-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-input-checkbox:checked + .review-form-checkbox > .chackbox-item {
  cursor: pointer;
  display: inline-flex;
  background-color: #404bbf;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: none;
  fill: #f4f4fd;
}
.review-form-input-checkbox:focus + .review-form-checkbox > .chackbox-item {
}

.chackbox-item {
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-checkbox {
  width: 10px;
  height: 8px;
}

.modal-rules-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
}
.modal-submit-form {
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 56px;
  min-width: 169px;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-form:hover,
.modal-submit-form:focus {
  background-color: #404bbf;
}

/* -----------------------modal window end-----------------------*/
